---
layout: default
---
<div class="page">
  {{ content }}
</div>

<!-- DeviceModel Modal -->
<div class="modal fade" id="modalDeviceModel" tabindex="-1" role="dialog" aria-labelledby="DeviceOS">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalTitle">DeviceModel</h4>
      </div>
      <div class="modal-body">
		This field contains the model of the client's device.<br/><br/>

        For example (A Kindle Fire HD 8), AMAZON KFGIWI
      </div>
    </div>
  </div>
</div>

<!-- DeviceOS Modal -->
<div class="modal fade" id="modalDeviceOS" tabindex="-1" role="dialog" aria-labelledby="DeviceOS">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalTitle">DeviceOS</h4>
      </div>
      <div class="modal-body">
		This field contains the operating system of the client.<br/><br/>

        <li>1 - Android</li>
		<li>2 - iOS</li>
		<li>3 - OSX</li>
		<li>4 - FireOS</li>
		<li>5 - GearVR</li>
		<li>6 - Hololens</li>
		<li>7 - Windows10</li>
		<li>8 - Win32</li>
		<li>9 - Dedicated</li>
      </div>
    </div>
  </div>
</div>

<!-- GameVersion Modal -->
<div class="modal fade" id="modalGameVersion" tabindex="-1" role="dialog" aria-labelledby="DeviceOS">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalTitle">GameVersion</h4>
      </div>
      <div class="modal-body">
		This field contains the game version displayed on the server listings page.<br/><br/>

        For example, 1.1.0.0
      </div>
    </div>
  </div>
</div>

<!-- ServerAddress Modal -->
<div class="modal fade" id="modalServerAddress" tabindex="-1" role="dialog" aria-labelledby="DeviceOS">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalTitle">ServerAddress</h4>
      </div>
      <div class="modal-body">
		This field contains the server address and port.<br/><br/>

        For example, pe.mineplex.com:19132
      </div>
    </div>
  </div>
</div>
