---
layout: default
---
<div class="page">
  {{ content }}
</div>

<!-- LoginPacket Page Modals -->
<div class="modal fade" id="modalDeviceOS" tabindex="-1" role="dialog" aria-labelledby="DeviceOS">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalTitle">DeviceOS</h4>
      </div>
      <div class="modal-body">
		Fields
        <li>1 - Android</li>
		<li>2 - Something</li>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
